# New notebook

In [29]:
import datetime

import pandas as pd
import sqlite3 as db
import yfinance as yf

from sqlalchemy import create_engine
file_storage = "test2"

In [30]:
symbols_data = [
        {
            "Symbol": "A",
            "Name": "Agilent Technologies Inc",
            "ListedDt": datetime.datetime(2005, 1, 3).isoformat(),
            "LastDt": datetime.datetime(2022, 9, 6).isoformat(),
            "Status": "Active",
        },
        {
            "Symbol": "AA",
            "Name": "Alcoa Corporation",
            "ListedDt": datetime.datetime(2016, 10, 18).isoformat(),
            "LastDt": datetime.datetime(2022, 9, 6).isoformat(),
            "Status": "Active",
        },
        {
            "Symbol": "ZGNX",
            "Name": "Zogenix",
            "ListedDt": datetime.datetime(2010, 11, 23).isoformat(),
            "LastDt": datetime.datetime(2022, 3, 4).isoformat(),
            "Status": "Active",
        }
    ]

update_data = [
        {
            "Symbol": "AA",
            "Name": "Updated Alcoa Corporation",
            "ListedDt": datetime.datetime(2022, 10, 18).isoformat(),
            "LastDt": datetime.datetime(2022, 9, 6).isoformat(),
            "Status": "Active",
        },
        {
            "Symbol": "ZGNX",
            "Name": "Updated Zogenix",
            "ListedDt": datetime.datetime(2012, 11, 23).isoformat(),
            "LastDt": datetime.datetime(2022, 3, 4).isoformat(),
            "Status": "Active",
        },
        {
            "Symbol": "BC",
            "Name": "Basic Company",
            "ListedDt": datetime.datetime(2021, 1, 1).isoformat(),
            "LastDt": datetime.datetime(2022, 3, 4).isoformat(),
            "Status": "Active",
        }
    ]

In [31]:
source = pd.DataFrame(symbols_data)
new_data = pd.DataFrame(update_data)

In [32]:
suffixe_new = '_new'
cols_old = source.columns
cols_new = [f"{col}{suffixe_new}" for col in cols_old]
cols_new[0] = cols_old[0]

In [33]:
cols_old

Index(['Symbol', 'Name', 'ListedDt', 'LastDt', 'Status'], dtype='object')

In [34]:
cols_new

['Symbol', 'Name_new', 'ListedDt_new', 'LastDt_new', 'Status_new']

In [35]:
merged = pd.merge(source, new_data, on='Symbol', how='outer', indicator=True, suffixes=['', '_new'])
merged

,Symbol,Name,ListedDt,LastDt,Status,Name_new,ListedDt_new,LastDt_new,Status_new,_merge
0,A,Agilent Technologies Inc,2005-01-03T00:00:00,2022-09-06T00:00:00,Active,NaN,NaN,NaN,NaN,left_only
1,AA,Alcoa Corporation,2016-10-18T00:00:00,2022-09-06T00:00:00,Active,Updated Alcoa Corporation,2022-10-18T00:00:00,2022-09-06T00:00:00,Active,both
2,ZGNX,Zogenix,2010-11-23T00:00:00,2022-03-04T00:00:00,Active,Updated Zogenix,2012-11-23T00:00:00,2022-03-04T00:00:00,Active,both
3,BC,NaN,NaN,NaN,NaN,Basic Company,2021-01-01T00:00:00,2022-03-04T00:00:00,Active,right_only

In [36]:
old = merged.loc[merged._merge == 'left_only'][cols_old]
old

,Symbol,Name,ListedDt,LastDt,Status
0,A,Agilent Technologies Inc,2005-01-03T00:00:00,2022-09-06T00:00:00,Active

In [37]:
updates = merged.loc[merged._merge == 'both'][cols_new]
updates.columns = cols_old
updates

,Symbol,Name,ListedDt,LastDt,Status
1,AA,Updated Alcoa Corporation,2022-10-18T00:00:00,2022-09-06T00:00:00,Active
2,ZGNX,Updated Zogenix,2012-11-23T00:00:00,2022-03-04T00:00:00,Active

In [38]:
new_sym = merged.loc[merged._merge == 'right_only'][cols_new]
new_sym.columns = cols_old
new_sym

  Symbol           Name             ListedDt               LastDt  Status
3     BC  Basic Company  2021-01-01T00:00:00  2022-03-04T00:00:00  Active

In [39]:
new_save = pd.concat([old, updates, new_sym], ignore_index=True)
new_save

,Symbol,Name,ListedDt,LastDt,Status
0,A,Agilent Technologies Inc,2005-01-03T00:00:00,2022-09-06T00:00:00,Active
1,AA,Updated Alcoa Corporation,2022-10-18T00:00:00,2022-09-06T00:00:00,Active
2,ZGNX,Updated Zogenix,2012-11-23T00:00:00,2022-03-04T00:00:00,Active
3,BC,Basic Company,2021-01-01T00:00:00,2022-03-04T00:00:00,Active

In [40]:
df1 = pd.DataFrame(symbols_data)
df2 = pd.DataFrame(update_data)
set1 = set()
set1.update(df1.Symbol)
set1.update(df2.Symbol)
set1

{'A', 'AA', 'BC', 'ZGNX'}

# YAHOO SECTOR INFO

In [41]:
import datetime

import pandas as pd
import yfinance as yf

In [48]:
t1 = yf.Ticker('ZGNX')
t1.info

{'regularMarketPrice': None, 'preMarketPrice': None, 'logo_url': ''}

In [63]:
t1 = yf.Ticker('BBDD.L')
print(t1.info.get('exchange'))
print(t1.info.get('longName'))
t1.info.keys()

LSE
JPMorgan ETFs (Ireland) ICAV - BetaBuilders US Equity UCITS ETF

dict_keys(['exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'profitMargins', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'fundFamily', 'lastFiscalYearEnd', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'pegRatio', 'ytdReturn', 'forwardPE', 'maxAge', 'lastCapGain', 'category', 'fiveYearAverageReturn', 'phone', 'longBusinessSummary', 'companyOfficers', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'beta', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'preferredPosition', 'bondPosition', 'convertiblePosition', 'sectorWeightings', 'holdings', 'bondHoldings', 'bondRatings', 'equityHoldings', 'otherPosition', 'cashPosition', 'stockPosition', 'regularMarketPrice', 'preMarketPrice', 'logo_url'])

In [42]:
def get_sector_info(ticker):
    t1 = yf.Ticker(ticker)

    info_dict = {
    'Symbol': [ticker], 
    'Sector': [t1.info.get('sector')], 
    'Indutry': [t1.info.get('industry')],
    'QuoteType': [t1.info.get('quoteType')]
    }

    return pd.DataFrame(info_dict)

In [46]:
df = get_sector_info('ZGNX')
df

  Symbol Sector Indutry
0   ZGNX   None    None

In [44]:
symbols = pd.read_csv(f'data/nasdaq.csv', index_col=False)

In [64]:
yahoo_codes = [
    {'Code': 'NASDAQ', 'Name':'NASDAQ Stock Exchange', 'Country':'USA', 'Suffix':''},
    {'Code': 'AMEX', 'Name':'American Stock Exchange', 'Country':'USA', 'Suffix':''},
    {'Code': 'ASX', 'Name':'Australian Stock Exchange', 'Country':'Australia', 'Suffix':'.AX'},
    {'Code': 'LSE', 'Name':'London Stock Exchange', 'Country':'United Kingdom', 'Suffix':'.L'},
    {'Code': 'NYSE', 'Name':'New York Stock Exchange', 'Country':'USA', 'Suffix':''},
    {'Code': 'SGX', 'Name':'Singapore Stock Exchange', 'Country':'Republic of Singapore', 'Suffix':'.SI'},
    {'Code': 'TSX', 'Name':'Toronto Stock Exchange', 'Country':'Canada', 'Suffix':'.TO'},
    {'Code': 'TSXV', 'Name':'Toronto Venture Exchange', 'Country':'Canada', 'Suffix':'.V'},
]

SyntaxError: invalid syntax (3632217199.py, line 2)