# New notebook

In [2]:
import datetime

import pandas as pd
import sqlite3 as db
import yfinance as yf

from sqlalchemy import create_engine
file_storage = "test2"

In [18]:
symbols_data = [
        {
            "Symbol": "A",
            "Name": "Agilent Technologies Inc",
            "ListedDt": datetime.datetime(2005, 1, 3).isoformat(),
            "LastDt": datetime.datetime(2022, 9, 6).isoformat(),
            "Status": "Active",
        },
        {
            "Symbol": "AA",
            "Name": "Alcoa Corporation",
            "ListedDt": datetime.datetime(2016, 10, 18).isoformat(),
            "LastDt": datetime.datetime(2022, 9, 6).isoformat(),
            "Status": "Active",
        },
        {
            "Symbol": "ZGNX",
            "Name": "Zogenix",
            "ListedDt": datetime.datetime(2010, 11, 23).isoformat(),
            "LastDt": datetime.datetime(2022, 3, 4).isoformat(),
            "Status": "Active",
        }
    ]

update_data = [
        {
            "Symbol": "AA",
            "Name": "Updated Alcoa Corporation",
            "ListedDt": datetime.datetime(2022, 10, 18).isoformat(),
            "LastDt": datetime.datetime(2022, 9, 6).isoformat(),
            "Status": "Active",
        },
        {
            "Symbol": "ZGNX",
            "Name": "Updated Zogenix",
            "ListedDt": datetime.datetime(2012, 11, 23).isoformat(),
            "LastDt": datetime.datetime(2022, 3, 4).isoformat(),
            "Status": "Active",
        },
        {
            "Symbol": "BC",
            "Name": "Basic Company",
            "ListedDt": datetime.datetime(2021, 1, 1).isoformat(),
            "LastDt": datetime.datetime(2022, 3, 4).isoformat(),
            "Status": "Active",
        }
    ]

In [3]:
source = pd.DataFrame(symbols_data)
new_data = pd.DataFrame(update_data)

In [4]:
suffixe_new = '_new'
cols_old = source.columns
cols_new = [f"{col}{suffixe_new}" for col in cols_old]
cols_new[0] = cols_old[0]

In [5]:
cols_old

Index(['Symbol', 'Name', 'ListedDt', 'LastDt', 'Status'], dtype='object')

In [6]:
cols_new

['Symbol', 'Name_new', 'ListedDt_new', 'LastDt_new', 'Status_new']

In [7]:
merged = pd.merge(source, new_data, on='Symbol', how='outer', indicator=True, suffixes=['', '_new'])
merged

,Symbol,Name,ListedDt,LastDt,Status,Name_new,ListedDt_new,LastDt_new,Status_new,_merge
0,A,Agilent Technologies Inc,2005-01-03T00:00:00,2022-09-06T00:00:00,Active,NaN,NaN,NaN,NaN,left_only
1,AA,Alcoa Corporation,2016-10-18T00:00:00,2022-09-06T00:00:00,Active,Updated Alcoa Corporation,2022-10-18T00:00:00,2022-09-06T00:00:00,Active,both
2,ZGNX,Zogenix,2010-11-23T00:00:00,2022-03-04T00:00:00,Active,Updated Zogenix,2012-11-23T00:00:00,2022-03-04T00:00:00,Active,both
3,BC,NaN,NaN,NaN,NaN,Basic Company,2021-01-01T00:00:00,2022-03-04T00:00:00,Active,right_only

In [8]:
old = merged.loc[merged._merge == 'left_only'][cols_old]
old

,Symbol,Name,ListedDt,LastDt,Status
0,A,Agilent Technologies Inc,2005-01-03T00:00:00,2022-09-06T00:00:00,Active

In [9]:
updates = merged.loc[merged._merge == 'both'][cols_new]
updates.columns = cols_old
updates

,Symbol,Name,ListedDt,LastDt,Status
1,AA,Updated Alcoa Corporation,2022-10-18T00:00:00,2022-09-06T00:00:00,Active
2,ZGNX,Updated Zogenix,2012-11-23T00:00:00,2022-03-04T00:00:00,Active

In [10]:
new_sym = merged.loc[merged._merge == 'right_only'][cols_new]
new_sym.columns = cols_old
new_sym

  Symbol           Name             ListedDt               LastDt  Status
3     BC  Basic Company  2021-01-01T00:00:00  2022-03-04T00:00:00  Active

In [11]:
new_save = pd.concat([old, updates, new_sym], ignore_index=True)
new_save

,Symbol,Name,ListedDt,LastDt,Status
0,A,Agilent Technologies Inc,2005-01-03T00:00:00,2022-09-06T00:00:00,Active
1,AA,Updated Alcoa Corporation,2022-10-18T00:00:00,2022-09-06T00:00:00,Active
2,ZGNX,Updated Zogenix,2012-11-23T00:00:00,2022-03-04T00:00:00,Active
3,BC,Basic Company,2021-01-01T00:00:00,2022-03-04T00:00:00,Active

In [12]:
new_save.to_csv(f'{file_storage}.csv', index=False)

In [13]:
engine = create_engine(f"sqlite:///{file_storage}.sqlite")
new_save.to_sql('Symbols', engine, if_exists='replace', index=False)

4

In [ ]:
fn = f'{file_storage}.parquet'
new_save.to_parquet(fn, index=False)
parq = pd.read_parquet(fn)
parq

In [28]:
df1

,Symbol,Name,ListedDt,LastDt,Status
0,A,Agilent Technologies Inc,2005-01-03T00:00:00,2022-09-06T00:00:00,Active
1,AA,Alcoa Corporation,2016-10-18T00:00:00,2022-09-06T00:00:00,Active
2,ZGNX,Zogenix,2010-11-23T00:00:00,2022-03-04T00:00:00,Active

In [29]:
df2

,Symbol,Name,ListedDt,LastDt,Status
0,AA,Updated Alcoa Corporation,2022-10-18T00:00:00,2022-09-06T00:00:00,Active
1,ZGNX,Updated Zogenix,2012-11-23T00:00:00,2022-03-04T00:00:00,Active
2,BC,Basic Company,2021-01-01T00:00:00,2022-03-04T00:00:00,Active

In [27]:
df1 = pd.DataFrame(symbols_data)
df2 = pd.DataFrame(update_data)
set1 = set()
set1.update(df1.Symbol)
set1.update(df2.Symbol)
set1

{'A', 'AA', 'BC', 'ZGNX'}

# YAHOO SECTOR INFO

In [2]:
import datetime

import pandas as pd
import yfinance as yf

In [3]:
def get_sector_info(ticker):
    t1 = yf.Ticker(ticker)
    sector = t1.info.get('sector')
    inductry = t1.info.get('industry')

    info_dict = {
    'Symbol': [ticker], 
    'Sector': [t1.info.get('sector')], 
    'Indutry': [t1.info.get('industry')]
    }

    return pd.DataFrame(info_dict)

'Consumer Cyclical'

'Auto Manufacturers'

In [6]:
info_dict = {
    'Symbol': [ticker], 
    'Sector': [t1.info.get('sector')], 
    'Indutry': [t1.info.get('industry')]
}
info_dict

{'Symbol': ['TSLA'],
 'Sector': ['Consumer Cyclical'],
 'Indutry': ['Auto Manufacturers']}

In [7]:
new_df = pd.DataFrame(info_dict)
new_df

  Symbol             Sector             Indutry
0   TSLA  Consumer Cyclical  Auto Manufacturers